<mat-nav-list>

  <div class="profile-card">
    <div class="header">
      <h2>PERSON NAME</h2>
      <h4>email address</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="PERSON IMAGE">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Posts</a>
  <mat-divider></mat-divider>

  etc

  <mat-divider></mat-divider>
  etc

</mat-nav-list>
