<main class="main-content">
  <div>
    <p>Welcome to CentPool</p>
  </div>
  
</main>
































<!-- <mat-icon [matBadge]="notifications" [matBadgeSize]="bgSize" [matBadgeHidden]="notifications ==0">get_app</mat-icon> -->
<!-- <mat-progress-spinner [value]="notifications"></mat-progress-spinner> -->
<!-- <mat-spinner *ngIf="showSpinner" color="warn "></mat-spinner>
 <button class="blue" mat-raised-button (click)="loadData()" value="Blue">Blue</button>

 <mat-progress-bar mode="determinate" [value]="proGress" color="warn"></mat-progress-bar>
 -->

<!-- <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle class="blue" value="Blue">Blue</mat-button-toggle>
    <mat-button-toggle class="red" value="Red">Red</mat-button-toggle>
    {{toggleGroup.value}}
  </mat-button-toggle-group>
                       -->