.main-content {
    background-image: url('./../../assets/images/centpool-cover.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 2px solid #777;
}

.main-content {
    position: absolute;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}
