<div class="main-content">
  <p>Welcome to CentPool</p>
</div>
<div>
  <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div>

































<!-- <mat-icon [matBadge]="notifications" [matBadgeSize]="bgSize" [matBadgeHidden]="notifications ==0">get_app</mat-icon> -->
<!-- <mat-progress-spinner [value]="notifications"></mat-progress-spinner> -->
<!-- <mat-spinner *ngIf="showSpinner" color="warn "></mat-spinner>
 <button class="blue" mat-raised-button (click)="loadData()" value="Blue">Blue</button>

 <mat-progress-bar mode="determinate" [value]="proGress" color="warn"></mat-progress-bar>
 -->

<!-- <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle class="blue" value="Blue">Blue</mat-button-toggle>
    <mat-button-toggle class="red" value="Red">Red</mat-button-toggle>
    {{toggleGroup.value}}
  </mat-button-toggle-group>
                       -->