<mat-sidenav-container class="container">
  <mat-sidenav #sidenav closed [mode]="over">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="background" class="navbar">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <img src="../../../assets/images/CentPool-2.png" class="cp-icon" alt="not working">
      </div>
      <!-- <button mat-button >Menu</button> -->
      <div class="user-dropdown">
        <div>
          <ngx-avatar matBadge="5" [matMenuTriggerFor]="Usermenu" 
          matBadgeSize="medium" name="John Doe"></ngx-avatar>
        </div>
        <div class="arrow-dd"><mat-icon>arrow_drop_down</mat-icon></div>
        <mat-menu #Usermenu="matMenu" xPosition="before" yPosition="below">
          <ng-template matMenuContent>
            <button mat-menu-item [routerLink]="['./dashboard']">Dashboard</button>
            <button mat-menu-item [routerLink]="['./profile']">Profile</button>
            <button mat-menu-item [routerLink]="['./wallet']">Wallet</button>
            <button mat-menu-item [routerLink]="['./pool']">Pool</button>
            <button mat-menu-item [routerLink]="['/home']">Log Out</button>
          </ng-template>
        </mat-menu>
      </div>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>









<!-- <ngx-avatar facebookId="1508319875"></ngx-avatar>
<ngx-avatar googleId="1508319875"></ngx-avatar>
<ngx-avatar twitterId="1508319875"></ngx-avatar>
<ngx-avatar instagramId="dccomics" size="70"></ngx-avatar>
<ngx-avatar skypeId="1508319875"></ngx-avatar>
<ngx-avatar gravatarId="adde9b2b981a8083cf084c63ad86f753"></ngx-avatar>
<ngx-avatar gravatarId="user@gmail.com"></ngx-avatar>
<ngx-avatar src="assets/avatar.jpg"></ngx-avatar>
<ngx-avatar name="John Doe"></ngx-avatar>
<ngx-avatar value="75%"></ngx-avatar>
 
<ngx-avatar facebookId="userFacebookID" skypeId="userSkypeID"
 googleId="google" name="Haithem Mosbahi" src="assets/avatar.jpg"
 value="28%"  twitterId="twitter"
 gravatarId="adde9b2b981a8083cf084c63ad86f753" 
 size="100" [round]="true">
</ngx-avatar> -->