.container {
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2em;
}
.mat-primary {
    /* background-color: #0077dd; */
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.gender-radios {
    margin-bottom: 1em;
}

.gender-radios > span {
    margin-right: 1em;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-form-field {
    width: 100%;
}